body{
    padding: 0 !important;
    font-family: 'Helvetica', Verdana, Arial, sans-serif !important;
}
div{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
h3{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.h5_margin_top0{
    margin-top: 0px !important;
}
.h5_margin0{
    margin-top: 3px !important;
    margin-bottom: 3px !important;
    margin-left: 0px!important;
    margin-right: 0px !important;
    white-space: pre;
}
button {
    background-color: white;
    border: 1px solid black;
    color: white;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
button:hover {
    background-color: #1a1a18;
    border: 1px solid white;
    color: white;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.img_dwn:hover{

}
.button_bottom{
    margin-top: 5px;
    margin-bottom: 5px;
}
#item{
    display: block;
}
#item1_1{
    margin-top: 10vh;
    min-width: 310px;
    display: none;
}
#item2_1{
    display: none;
    min-width: 310px;
    margin-top: 10vh;
}
#item3_1{
    display: none;
    min-width: 310px;
    margin-top: 10vh;
}
.logo_div{
    background-color: #000000;
}
.no_padding{
    padding: 0 !important;

}
.text_align_center{
    text-align: center;
}
section {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.text_section_3{
    font-size: 20px;
    color: black;
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .foto{
        width: 256px;
        height: 200px;
    }
    .foto2{
        width: 512px;
        height: 400px;
    }
    .foto3{
        width: 130px;
        height: 200px;
    }
    .foto_div1{
        width: 250px;
    }
    .img_for_slide1{
        width: 256px;
    }
    .img_for_slide2{
        width: 512px;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1680px) {
    .foto{
        width: 13vw;
        height: 130px;
    }
    .foto2{
        width: 26vw;
        height: 260px;
    }
    .foto3{
        width: 13vw;
        height: 260px;
    }
    .foto_div1{
        width: 13vw;
    }
    .img_for_slide1{
        width: 13vw;
    }
    .img_for_slide2{
        width: 26vw;
    }
    .img_for_slide3{

        width: 13vw;
        height: 260px;
    }
}
@media screen and (min-width: 1681px){
    .foto{
        width: 13vw;
        height: 200px;
    }
    .foto2{
        width: 26vw;
        height: 400px;
    }
    .foto_div1{
        width: 13vw;
    }
    .img_for_slide1{
        width: 13vw;
    }
    .img_for_slide2{
        width: 26vw;
    }
    .img_for_slide3{
        width: 13vw;
        height: 300px;
    }
}

@media screen and (min-width: 769px) {
    .sect_1 {
        height: 100vh;
        background-color: #1a1a18;
        background-size: cover;
        overflow: hidden;
    }

    .sect_2 {
        overflow: hidden;
        height: 100vh;

    }

    .sect_3 {
        height: 100vh;
        background-size: 100vw;
        overflow: hidden;
    }

    .sect_4 {
        background-size: 100vw;
        height: 100vh;
        overflow: hidden;

    }

    .sect_5 {
        height: 110vh;
        overflow: hidden;
    }
}
@media screen and (max-width: 980px){
    .margin_bottom_3vh{
        margin-bottom: 1vh !important;
    }
    .sect_1{
        height: 100vh;
        background-color: #1a1a18;
        background-size: cover;
        overflow:hidden;
    }
    img{
        background-size: cover;
    }
    .logo_img{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -370px;
        margin-left: -475px;

    }
    .button_cat{
        position: absolute;
        top: 65%;
        left: 50%;
        margin-top: -45px;
        margin-left: -52px;
    }
    .img_dwn{
        position: absolute;
        top: 80%;
        left: 50%;
        margin-top: -45px;
        margin-left: -52px;
    }
    .text_section_2{
        font-size: 32px;
        top:20%;
        color: black;
    }
    .sect_2{
        background-size: cover;

        height: 50vh;
        overflow:hidden;


    }
    .sect_3 {
        height: 50vh;
        background-size: cover;
        overflow:hidden;
    }
    .sect_4{
        background-size: cover;

        height: 50vh;
        overflow:hidden;

    }
    .sect_5{

        height: 50vh;
        overflow: hidden;

    }

}
@media screen and (min-width: 981px){
    .margin_bottom_3vh{
        margin-bottom: 3vh !important;
    }
    .sect_1{
        background-color: #1a1a18;
        background-size: cover;
        overflow:hidden;

    }
    img{
        background-size: cover;
    }
    .logo_img{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -370px;
        margin-left: -475px;
    }
    .button_cat{
        position: absolute;
        top: 65%;
        left: 50%;
        margin-top: -45px;
        margin-left: -52px;
    }
    .img_dwn{
        position: absolute;
        top: 80%;
        left: 50%;
        margin-top: -45px;
        margin-left: -52px;
    }
    .img_dwn img{

    }
    .text_section_2{
        font-size: 20px;
        top: 20%;
        color: black;
    }
    .sect_2{

        background-size: cover;
        overflow:hidden;
    }
    .sect_3 {
        background-size: cover;

        overflow:hidden;
    }
    .sect_4{
        background-size: cover;

        overflow:hidden;

    }
    .sect_5{
        overflow: hidden;
    }
}
.hit_prodaj{
    background-color: #f5f5f5;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    color: black;
}
.contact{
    background-color: #f5f5f5;
}
.compani{
    margin-top: 100px;
    margin-bottom: 50px;
}
.img_for_content{
    width: 100%;
}

#img_dwn2{
    position: absolute;
    top: 80%;
    left: 50%;
    margin-top: 50%;
    margin-left: -32px;
}
.navContent{
    font-size: 16px;
    font-weight: bold;
}
#img_dwn3{
    position: absolute ;
    top: 80%;
    left: 50%;
    margin-top: 50%;
    margin-left: -52px;
}
.img_form{
    padding-top: 10px;
    padding-bottom: 10px;
}
.spec_form{
    padding-top: 10px;
}
.hr{
    border-bottom: 1px solid black;
}
nav{
    background-image: url(../img/background.png);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.32);
    z-index: 2;
}
.navbar-default .navbar-nav li a{
    color: white !important;
}

.landingMenu ul {

    display:block;

    margin:auto;
    border-radius:0 0 10px 10px;
}
.margin_bottom_5vh{
    margin-bottom: 5vh !important;
}

#item a{
    color: #0f0f0f;
}
#item a:hover{
    color: #0f0f0f;
}
a#insta{
    color: #0f0f0f;
}
a#insta{
    color: #0f0f0f;
}
.landingMenu a {
    color: #000000;
    padding:20px 20px;
    text-transform:uppercase;
    text-decoration:none;
}
.landingMenu a:hover {
    color: white !important;

}
.landingMenu .cur {
    color:#fff !important;
    border-bottom: 3px solid white;

}

.img_logo_social{
    width: 30px;
    height: 30px;
}
.footer{
    background-color: black;
    height: 90px;
}
.imgItems{

}
.itemsDiv{
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}
.itemsDiv:hover .specItem{
    display: block;

}
.specItem{
    position: absolute !important;
    display: none;
    background: #f7f7f7;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.name{
    position: absolute !important;
    color: white;
    top: 40%;
}
.specification{
    position: absolute !important;
    color: white;
    top: 50%;
}
.modal{
     border-radius: 0 !important;
    top: 10vh !important;
    width: 90vw ;
    left: 5vw !important;
}
.modal-content{

}

