body{
    margin: 0;
}
.no_padding{
    padding: 0 !important;
}
section{
    height: 100vh;
    background-color: #666;
    position: relative;
    overflow: hidden;
}
.sect_1{
    background-color: black;
    background-size: cover;

}
img{
    background-size: cover;
}
.logo_img{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -70px;
}
.text_section_2{
    font-size: 42px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -70px;
}

.sect_2{
    background-color: black;
    background-size: cover;

}
.sect_2 img{
    position: absolute;
    width: 100%;
    top: -200px;
}
.sect_3 img{
    position: absolute;
    width: 100%;
}

.instagrid{
    z-index: 3;
}
body{margin:0 auto;}

/* Instagrid.css */

strong {font-weight:800;}
/* Instagrid.css media queries */
@media screen and (max-width : 480px) {

}

#ody a{padding:0;margin:0;position:relative;display:inline-block}

/*#ody li:nth-child(2) {
    width: 33.33%;
}*/
#ody .instagrid-z{width:100%;height:100%;margin-top:-100%;opacity:0;letter-spacing:1px;background:rgba(0,0,0,0.7);position:absolute;font:normal 600 12px Catamaran, sans-serif;color:#ffffff;line-height:normal}
#ody a:hover .instagrid-z{opacity:1;zoom:1;filter:alpha(opacity=100)}
.instagrids{display:table;vertical-align:middle;height:100%;width:100%}
.instagrid-outter{display:table-cell;vertical-align:middle;height:100%;width:100%;text-align:center;}

.ri-grid{
    margin: 30px auto 30px;
    position: relative;
    height: auto;
}
nav{
    background-image: url(../img/background.png);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.32);
    z-index: 2;
}
.ri-grid ul {
    list-style: none;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Clear floats by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */

.ri-grid ul:before,
.ri-grid ul:after{
    content: '';
    display: table;
}

.ri-grid ul:after {
    clear: both;
}

.ri-grid ul {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.ri-grid ul li {
    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    -o-perspective: 400px;
    -ms-perspective: 400px;
    perspective: 400px;
    height: 150px;
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;

}

.ri-grid ul li a{
    display: block;
    outline: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

/* Grid wrapper sizes */
.ri-grid-size-1{
    width: 55%;
}
.ri-grid-size-2{
    width: 100%;
}
.ri-grid-size-3{
    width: 100%;
    margin-top: 0px;
}


.landingMenu ul {

    display:block;
    width:800px;
    margin:auto;
    border-radius:0 0 10px 10px;
}

.landingMenu a {
    color:#09F;
    padding:20px 20px;
    text-transform:uppercase;
    text-decoration:none;
}
.landingMenu .cur {
    color:#fff !important;
    
}

.landingItem {

}
