body{

}
.no_padding{
    padding: 0 !important;
}
.foto{
    width: 130px;
    height: 100px;
}
.foto_div1{
    width: 130px;
}
.img_for_slide{
    width: 130px;
}
@media screen and (min-width: 1201px) and (max-width: 1680px) {
    .foto{
        width: 13vw;
        height: 130px;
    }
    .foto_div1{
        width: 13vw;
    }
    .img_for_slide{
        width: 13vw;
    }
}
@media screen and (min-width: 1680px){
    .foto{
        width: 13vw;
        height: 230px;
    }
    .foto_div1{
        width: 13vw;
    }
    .img_for_slide{
        width: 13vw;
    }
}
section{
    height: 100vh;
    background-color: #666;
    position: relative;
    overflow: hidden;
}
.sect_1{
    background-color: black;
    background-size: cover;

}
img{
    background-size: cover;
}
.logo_img{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -70px;
}
.text_section_2{
    font-size: 42px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -70px;
}

.sect_2{
    background-color: black;
    background-size: cover;

}
.sect_2 img{
    position: absolute;
    width: 100%;
    top: -200px;
}
.sect_3 img{
    position: absolute;
    width: 100%;
}

.instagrid{
    z-index: 3;
}
body{margin:0 auto;}

/* Instagrid.css */

strong {font-weight:800;}
/* Instagrid.css media queries */
@media screen and (max-width : 480px) {

}

#ody a{padding:0;margin:0;position:relative;display:inline-block}

/*#ody li:nth-child(2) {
    width: 33.33%;
}*/
#ody .instagrid-z{width:100%;height:100%;margin-top:-100%;opacity:0;letter-spacing:1px;background:rgba(0,0,0,0.7);position:absolute;font:normal 600 12px Catamaran, sans-serif;color:#ffffff;line-height:normal}
#ody a:hover .instagrid-z{opacity:1;zoom:1;filter:alpha(opacity=100)}
.instagrids{display:table;vertical-align:middle;height:100%;width:100%}
.instagrid-outter{display:table-cell;vertical-align:middle;height:100%;width:100%;text-align:center;}

.ri-grid{
    margin: 30px auto 30px;
    position: relative;
    height: auto;
}
nav{
    background-image: url(../img/background.png);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.32);
    z-index: 2;
}
.ri-grid ul {
    list-style: none;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Clear floats by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */

.ri-grid ul:before,
.ri-grid ul:after{
    content: '';
    display: table;
}

.ri-grid ul:after {
    clear: both;
}

.ri-grid ul {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.ri-grid ul li {
    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    -o-perspective: 400px;
    -ms-perspective: 400px;
    perspective: 400px;
    height: 150px;
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;

}

.ri-grid ul li a{
    display: block;
    outline: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

/* Grid wrapper sizes */
.ri-grid-size-1{
    width: 55%;
}
.ri-grid-size-2{
    width: 100%;
}
.ri-grid-size-3{
    width: 100%;
    margin-top: 0px;
}


.landingMenu ul {

    display:block;
    width:800px;
    margin:auto;
    border-radius:0 0 10px 10px;
}

.landingMenu a {
    color:#09F;
    padding:20px 20px;
    text-transform:uppercase;
    text-decoration:none;
}
.landingMenu .cur {
    color:#fff !important;
    
}

.landingItem {

}
#showroom {
    background:url(../img/bg-showroom.jpg) 50% 0% no-repeat fixed;
    width:100%;
    overflow:hidden;
}
#showroom .scroll-pane { overflow: hidden; width: 100%; background:none; padding:0 0 40px 0;}
#showroom .scroll-content { width: 2773px; float: left; background:#000; padding:1px 0 0 1px; height:378px; }
#showroom .scroll-content-item { width: 252px; height: 378px; float: left; }
#showroom .scroll-content-item-cell {margin:0 1px 1px 0; background:#000 url(/assets/img/ajax-loader.gif) no-repeat center center; float:left; position:relative; }
#showroom .c1, #showroom .c1 a, #showroom .c1 a .foto, #showroom .c1 a img, #showroom .c1 a .desc { width:125px; display:block; overflow:hidden; }
#showroom .c2, #showroom .c2 a, #showroom .c2 a .foto, #showroom .c2 a img, #showroom .c2 a .desc { width:251px; display:block; overflow:hidden; }
#showroom .r1, #showroom .r1 a, #showroom .r1 a .foto, #showroom .r1 a img, #showroom .r1 a .desc { height:125px; display:block; overflow:hidden; }
#showroom .r2, #showroom .r2 a, #showroom .r2 a .foto, #showroom .r2 a img, #showroom .r2 a .desc { height:251px; display:block; overflow:hidden; }

#showroom .c1 a .desc { width:115px; }
#showroom .c2 a .desc { width:241px; }
#showroom .r1 a .desc { height:115px; }
#showroom .r2 a .desc { height:241px; }

#showroom .c1 a canvas { width:125px; }
#showroom .c2 a canvas { width:251px; }
#showroom .r1 a canvas { height:125px; }
#showroom .r2 a canvas { height:251px; }

#showroom .scroll-content-item-cell a .foto { position:absolute; top:0; left:0;}
#showroom .scroll-content-item-cell a .desc { position:absolute; top:0; left:0; z-index:2; opacity:0; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; border:5px solid #000;}
#showroom .scroll-content-item-cell a .js-desaturate { position:absolute; top:0; left:0; z-index:3;}


#showroom .ui-slider { position: relative; text-align: left; display:none }
#showroom .ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 20px; height: 20px; cursor: default; }
#showroom .ui-slider .ui-slider-range { position: absolute; z-index: 1; display: block; border: 0; background-position: 0 0; }

#showroom .ui-slider-horizontal { height: 20px; }
#showroom .ui-slider-horizontal .ui-slider-handle { top: 0; margin-left: 0; }
#showroom .ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
#showroom .ui-slider-horizontal .ui-slider-range-min { left: 0; }
#showroom .ui-slider-horizontal .ui-slider-range-max { right: 0; }

#showroom .ui-slider-vertical { width: 10px; height: 100px; }
#showroom .ui-slider-vertical .ui-slider-handle { left: 0; margin-left: 0; margin-bottom: 0 }
#showroom .ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
#showroom .ui-slider-vertical .ui-slider-range-min { bottom: 0; }
#showroom .ui-slider-vertical .ui-slider-range-max { top: 0; }

#showroom .scroll-bar-wrap { clear: both; padding: 0; background:#ddd; margin:0px auto 0 auto; width:960px; }
#showroom .scroll-bar-wrap .ui-slider { background: none; border:0; height: 20px; margin: 0 auto; background:none;   }

#showroom .scroll-bar-wrap .ui-handle-helper-parent { position: relative; background:none; width: 100%; height: 100%; margin: 0 auto; }
#showroom .scroll-bar-wrap .ui-slider-handle { height: 20px; width:100px; background:#ff0000 url(/assets/img/bg-scroll.gif) no-repeat center center; border:0; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; cursor:all-scroll; margin:0 0 0 0;}
#showroom .scroll-bar-wrap .ui-slider-handle .ui-icon { margin: 0; position: relative; top: 50%; background:none }


#showroom .call-to-action{
    position:absolute;
    z-index:100;
    margin:127px 0 0 0;
    width:125px;
    height:125px;
    overflow:hidden;
}
#showroom .call-to-action.left{
    left:0;
    background:#000 url(../img/ico-arrow-left.png) no-repeat center center;
}
#showroom .call-to-action.right{
    right:0;
    background:#000 url(../img/ico-arrow-right.png) no-repeat center center;
}
#showroom .call-to-action a{
    display:block;
    overflow:hidden;
    width:125px;
    height:125px;
    cursor:pointer;
}
#showroom .call-to-action a.left{
}
#showroom .call-to-action a.right{
}


#showroom article {
    display:table-cell;
    vertical-align:middle;
}
#showroom .inner { text-align:center;}

#showroom .season {
    padding:5px 0 10px 0;
    font-size:9px;
}






#fancybox-loading{position:fixed;top:50%;left:50%;height:40px;width:40px;margin-top:-20px;margin-left:-20px;cursor:pointer;overflow:hidden;background:transparent;z-index:3000;display:none;}
* html #fancybox-loading{position:absolute;margin-top:0;}
#fancybox-loading div{position:absolute;top:0;left:0;width:40px;height:480px;background:transparent url('../js/fancybox/fancy_loading.png') no-repeat;}
#fancybox-overlay{position:fixed;top:0;left:0;bottom:0;right:0;background:#000;z-index:3100;display:none;}
* html #fancybox-overlay{position:absolute;width:100%;}
#fancybox-tmp{padding:0;margin:0;border:0;overflow:auto;display:none;}
#fancybox-wrap{position:absolute;top:0;left:0;margin:0;padding:20px;z-index:3200;display:none;}
#fancybox-outer{position:relative;width:100%;height:100%;}
#fancybox-inner{position:absolute;top:0;left:0;width:1px;height:1px;padding:0;margin:0;outline:none;overflow:hidden;}
#fancybox-hide-sel-frame{position:absolute;top:0;left:0;width:100%;height:100%;background:transparent;}

#fancybox-close{position:absolute;top:20px;right:20px;width:29px;height:29px;background:url('../js/fancybox/fancy_close.png') top left no-repeat;cursor:pointer;z-index:3300;display:none;}

#fancybox_error{color:#444;font:normal 12px/20px Arial;}
#fancybox-content{height:auto;width:auto;padding:0;margin:0;}
#fancybox-img{width:100%;height:100%;padding:0;margin:0;border:none;outline:none;line-height:0;vertical-align:top;-ms-interpolation-mode:bicubic;}
#fancybox-frame{position:relative;width:100%;height:100%;border:none;display:block;}
#fancybox-title{position:absolute;bottom:0;left:0;z-index:3250;}
.fancybox-title-inside{padding:10px 0;text-align:center;color:#333;}
.fancybox-title-outside{padding-top:5px;color:#FFF;text-align:center;}
.fancybox-title-over{color:#FFF;text-align:left;}
#fancybox-title-over{padding:10px;background:url('/js/fancybox/fancy_title_over.png');display:block;}
#fancybox-title-wrap{display:inline-block;}
#fancybox-title-wrap span{height:32px;float:left;}
#fancybox-title-left{padding-left:15px;}
#fancybox-title-main{line-height:29px;color:#FFF;text-shadow:0px 0px 0px transparent;}
#fancybox-title-right{padding-left:15px;}
#fancybox-left, #fancybox-right{position:absolute;bottom:0px;height:100%;width:35%;cursor:pointer;outline:none;background-image:none/*url('blank.gif')*/;z-index:3260;display:none;}
#fancybox-left{left:0px;}
#fancybox-right{right:0px;}
#fancybox-left-ico, #fancybox-right-ico{position:absolute;top:50%;left:-9999px;width:29px;height:29px;margin-top:-15px;cursor:pointer;z-index:3261;display:block;}
#fancybox-left-ico{background:transparent url('../js/fancybox/fancy_nav_left.png') no-repeat;}
#fancybox-right-ico{background:transparent url('../js/fancybox/fancy_nav_right.png') no-repeat;}
#fancybox-left:hover, #fancybox-right:hover{visibility:visible;}
#fancybox-left:hover span{left:20px;}
#fancybox-right:hover span{left:auto;right:20px;}
div.fancy-bg{position:absolute;padding:0;margin:0;border:0;z-index:2900;}
div#fancy-bg-n{top:-20px;left:0;width:100%;height:20px;/*background:transparent url('fancy_shadow_n.png') repeat-x;*/}
div#fancy-bg-ne{top:-20px;right:-20px;width:20px;height:20px;/*background:transparent url('fancy_shadow_ne.png') no-repeat;*/}
div#fancy-bg-e{top:0;right:-20px;height:100%;width:20px;/*background:transparent url('fancy_shadow_e.png') repeat-y;*/}
div#fancy-bg-se{bottom:-20px;right:-20px;width:20px;height:20px;/*background:transparent url('fancy_shadow_se.png') no-repeat;*/}
div#fancy-bg-s{bottom:-20px;left:0;width:100%;height:20px;/*background:transparent url('fancy_shadow_s.png') repeat-x;*/}
div#fancy-bg-sw{bottom:-20px;left:-20px;width:20px;height:20px;/*background:transparent url('fancy_shadow_sw.png') no-repeat;*/}
div#fancy-bg-w{top:0;left:-20px;height:100%;width:20px;/*background:transparent url('fancy_shadow_w.png') repeat-y;*/}
div#fancy-bg-nw{top:-20px;left:-20px;width:20px;height:20px;/*background:transparent url('fancy_shadow_nw.png') no-repeat;*/}