body{
    padding: 0 !important;
    font-family: 'Open Sans'  !important;
}
div{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
h3{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.h5_margin_top0{
    margin-top: 0px !important;
}
.h5_margin0{
    margin-top: 3px !important;
    margin-bottom: 3px !important;
    margin-left: 0px!important;
    margin-right: 0px !important;
}
button {
    background-color: white;
    border: 1px solid black;
    color: white;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
button:hover {
    background-color: #1a1a18;
    border: 1px solid white;
    color: white;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.img_dwn:hover{

}
.button_bottom{
    margin-top: 5px;
    margin-bottom: 5px;
}
#item{
    display: block;
}
#item1_1{
    margin-top: 10vh;
    min-width: 310px;
    display: none;
}
#item2_1{
    display: none;
    min-width: 310px;
    margin-top: 10vh;
}
#item3_1{
    display: none;
    min-width: 310px;
    margin-top: 10vh;
}
.logo_div{
    background-color: #000000;
}
.no_padding{
    padding: 0 !important;

}
.text_align_center{
    text-align: center;
}
section {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.text_section_3{
    font-size: 20px;
    color: black;
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .foto{
        width: 256px;
        height: 200px;
    }
    .foto2{
        width: 512px;
        height: 400px;
    }
    .foto3{
        width: 130px;
        height: 200px;
    }
    .foto_div1{
        width: 250px;
    }
    .img_for_slide1{
        width: 256px;
    }
    .img_for_slide2{
        width: 512px;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1680px) {
    .foto{
        width: 13vw;
        height: 130px;
    }
    .foto2{
        width: 26vw;
        height: 260px;
    }
    .foto3{
        width: 13vw;
        height: 260px;
    }
    .foto_div1{
        width: 13vw;
    }
    .img_for_slide1{
        width: 13vw;
    }
    .img_for_slide2{
        width: 26vw;
    }
    .img_for_slide3{

        width: 13vw;
        height: 260px;
    }
}
@media screen and (min-width: 1681px){
    .foto{
        width: 13vw;
        height: 200px;
    }
    .foto2{
        width: 26vw;
        height: 400px;
    }
    .foto_div1{
        width: 13vw;
    }
    .img_for_slide1{
        width: 13vw;
    }
    .img_for_slide2{
        width: 26vw;
    }
    .img_for_slide3{
        width: 13vw;
        height: 300px;
    }
}

@media screen and (min-width: 769px) {
    .sect_1 {
        height: 100vh;
        background-color: #1a1a18;
        background-size: cover;
        overflow: hidden;
    }

    .sect_2 {
        overflow: hidden;
        height: 100vh;

    }

    .sect_3 {
        height: 100vh;
        background-size: 100vw;
        overflow: hidden;
    }

    .sect_4 {
        background-size: 100vw;
        height: 100vh;
        overflow: hidden;

    }

    .sect_5 {
        height: 110vh;
        overflow: hidden;
    }
}
@media screen and (max-width: 980px){
    .margin_bottom_3vh{
        margin-bottom: 1vh !important;
    }
    .sect_1{
        height: 100vh;
        background-color: #1a1a18;
        background-size: cover;
        overflow:hidden;
    }
    img{
        background-size: cover;
    }
    .logo_img{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -370px;
        margin-left: -475px;

    }
    .button_cat{
        position: absolute;
        top: 65%;
        left: 50%;
        margin-top: -45px;
        margin-left: -52px;
    }
    .img_dwn{
        position: absolute;
        top: 80%;
        left: 50%;
        margin-top: -45px;
        margin-left: -52px;
    }
    .text_section_2{
        font-size: 32px;
        top:20%;
        color: black;
    }
    .sect_2{
        background-size: cover;

        height: 50vh;
        overflow:hidden;


    }
    .sect_3 {
        height: 50vh;
        background-size: cover;
        overflow:hidden;
    }
    .sect_4{
        background-size: cover;

        height: 50vh;
        overflow:hidden;

    }
    .sect_5{

        height: 50vh;
        overflow: hidden;

    }

}
@media screen and (min-width: 981px){
    .margin_bottom_3vh{
        margin-bottom: 3vh !important;
    }
    .sect_1{
        background-color: #1a1a18;
        background-size: cover;
        overflow:hidden;

    }
    img{
        background-size: cover;
    }
    .logo_img{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -370px;
        margin-left: -475px;
    }
    .button_cat{
        position: absolute;
        top: 65%;
        left: 50%;
        margin-top: -45px;
        margin-left: -52px;
    }
    .img_dwn{
        position: absolute;
        top: 80%;
        left: 50%;
        margin-top: -45px;
        margin-left: -52px;
    }
    .img_dwn img{

    }
    .text_section_2{
        font-size: 20px;
        top: 20%;
        color: black;
    }
    .sect_2{

        background-size: cover;
        overflow:hidden;
    }
    .sect_3 {
        background-size: cover;

        overflow:hidden;
    }
    .sect_4{
        background-size: cover;

        overflow:hidden;

    }
    .sect_5{
        overflow: hidden;
    }
}
.img_for_content{
    width: 100%;
}
#img_dwn2{
    position: absolute;
    top: 80%;
    left: 50%;
    margin-top: 50%;
    margin-left: -32px;
}
#img_dwn3{
    position: absolute ;
    top: 80%;
    left: 50%;
    margin-top: 50%;
    margin-left: -52px;
}
.hr{
    border-bottom: 1px solid black;
}
nav{
    background-image: url(../img/background.png);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.32);
    z-index: 2;
}
.navbar-default .navbar-nav li a{
    color: white !important;
}

.landingMenu ul {

    display:block;

    margin:auto;
    border-radius:0 0 10px 10px;
}
.margin_bottom_5vh{
    margin-bottom: 5vh !important;
}

#item a{
    color: #0f0f0f;
}
#item a:hover{
    color: #0f0f0f;
}
a#insta{
    color: #0f0f0f;
}
a#insta{
    color: #0f0f0f;
}
.landingMenu a {
    color: #000000;
    padding:20px 20px;
    text-transform:uppercase;
    text-decoration:none;
}
.landingMenu a:hover {
    color: white !important;

}
.landingMenu .cur {
    color:#fff !important;
    border-bottom: 3px solid white;

}

.img_logo_social{
    width: 30px;
    height: 30px;
}
.footer{
    background-color: black;
    height: 30px;
}
.imgItems{

}
.itemsDiv{
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}
.itemsDiv:hover .specItem{
    display: block;

}
.specItem{
    position: absolute !important;
    display: none;
    background: rgba(0, 0, 0, 0.69);
    -khtml-opacity: .9;
    -moz-opacity: 0.9;
    opacity: .9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.name{
    position: absolute !important;
    color: white;
    top: 40%;
}
.specification{
    position: absolute !important;
    color: white;
    top: 50%;
}
.modal{
     border-radius: 0 !important;
    top: 10vh !important;
}
.modal-content{

}

#fancybox-loading{position:fixed;top:50%;left:50%;height:40px;width:40px;margin-top:-20px;margin-left:-20px;cursor:pointer;overflow:hidden;background:transparent;z-index:3000;display:none;}
* html #fancybox-loading{position:absolute;margin-top:0;}
#fancybox-loading div{position:absolute;top:0;left:0;width:40px;height:480px;background:transparent url('../js/fancybox/fancy_loading.png') no-repeat;}
#fancybox-overlay{position:fixed;top:0;left:0;bottom:0;right:0;background:#000;z-index:3100;display:none;}
* html #fancybox-overlay{position:absolute;width:100%;}
#fancybox-tmp{padding:0;margin:0;border:0;overflow:auto;display:none;}
#fancybox-wrap{position:absolute;top:0;left:0;margin:0;padding:20px;z-index:3200;display:none;}
#fancybox-outer{position:relative;width:100%;height:100%;}
#fancybox-inner{position:absolute;top:0;left:0;width:1px;height:1px;padding:0;margin:0;outline:none;overflow:hidden;}
#fancybox-hide-sel-frame{position:absolute;top:0;left:0;width:100%;height:100%;background:transparent;}

#fancybox-close{position:absolute;top:20px;right:20px;width:29px;height:29px;background:url('../js/fancybox/fancy_close.png') top left no-repeat;cursor:pointer;z-index:3300;display:none;}

#fancybox_error{color:#444;font:normal 12px/20px Arial;}
#fancybox-content{height:auto;width:auto;padding:0;margin:0;}
#fancybox-img{width:100%;height:100%;padding:0;margin:0;border:none;outline:none;line-height:0;vertical-align:top;-ms-interpolation-mode:bicubic;}
#fancybox-frame{position:relative;width:100%;height:100%;border:none;display:block;}
#fancybox-title{position:absolute;bottom:0;left:0;z-index:3250;}
.fancybox-title-inside{padding:10px 0;text-align:center;color:#333;}
.fancybox-title-outside{padding-top:5px;color:#FFF;text-align:center;}
.fancybox-title-over{color:#FFF;text-align:left;}
#fancybox-title-over{padding:10px;background:url('/js/fancybox/fancy_title_over.png');display:block;}
#fancybox-title-wrap{display:inline-block;}
#fancybox-title-wrap span{height:32px;float:left;}
#fancybox-title-left{padding-left:15px;}
#fancybox-title-main{line-height:29px;color:#FFF;text-shadow:0px 0px 0px transparent;}
#fancybox-title-right{padding-left:15px;}
#fancybox-left, #fancybox-right{position:absolute;bottom:0px;height:100%;width:35%;cursor:pointer;outline:none;background-image:none/*url('blank.gif')*/;z-index:3260;display:none;}
#fancybox-left{left:0px;}
#fancybox-right{right:0px;}
#fancybox-left-ico, #fancybox-right-ico{position:absolute;top:50%;left:-9999px;width:29px;height:29px;margin-top:-15px;cursor:pointer;z-index:3261;display:block;}
#fancybox-left-ico{background:transparent url('../js/fancybox/fancy_nav_left.png') no-repeat;}
#fancybox-right-ico{background:transparent url('../js/fancybox/fancy_nav_right.png') no-repeat;}
#fancybox-left:hover, #fancybox-right:hover{visibility:visible;}
#fancybox-left:hover span{left:20px;}
#fancybox-right:hover span{left:auto;right:20px;}
div.fancy-bg{position:absolute;padding:0;margin:0;border:0;z-index:2900;}
div#fancy-bg-n{top:-20px;left:0;width:100%;height:20px;/*background:transparent url('fancy_shadow_n.png') repeat-x;*/}
div#fancy-bg-ne{top:-20px;right:-20px;width:20px;height:20px;/*background:transparent url('fancy_shadow_ne.png') no-repeat;*/}
div#fancy-bg-e{top:0;right:-20px;height:100%;width:20px;/*background:transparent url('fancy_shadow_e.png') repeat-y;*/}
div#fancy-bg-se{bottom:-20px;right:-20px;width:20px;height:20px;/*background:transparent url('fancy_shadow_se.png') no-repeat;*/}
div#fancy-bg-s{bottom:-20px;left:0;width:100%;height:20px;/*background:transparent url('fancy_shadow_s.png') repeat-x;*/}
div#fancy-bg-sw{bottom:-20px;left:-20px;width:20px;height:20px;/*background:transparent url('fancy_shadow_sw.png') no-repeat;*/}
div#fancy-bg-w{top:0;left:-20px;height:100%;width:20px;/*background:transparent url('fancy_shadow_w.png') repeat-y;*/}
div#fancy-bg-nw{top:-20px;left:-20px;width:20px;height:20px;/*background:transparent url('fancy_shadow_nw.png') no-repeat;*/}
