body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

section,
.main_head {
  position: relative; }

section {
  padding: 70px 0;
  z-index: 10; }
  section h2 {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0 0 20px 0;
    position: relative; }
  section .s_descr_wrap {
    text-align: center; }
    section .s_descr_wrap::after {
      position: absolute;
      left: 50%;
      top: 120px;
      margin-left: -125px;
      content: "";
      width: 250px;
      height: 1px; }
    section .s_descr_wrap p {
      display: inline-block;
      text-transform: uppercase;
      font-size: 12px; }

.main_head {
  min-height: 620px;
  padding-top: 20px; }

body {
  background-color: #333; }

.sandwich {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 12px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 200; }

.sw-topper {
  position: relative;
  top: 0;
  width: 34px;
  height: 3px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: top 0.2s, -webkit-transform 0.5s;
  transition: top 0.2s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s; }

.sw-bottom {
  position: relative;
  width: 34px;
  height: 3px;
  top: 7.5px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: top 0.2s, -webkit-transform 0.5s;
  transition: top 0.2s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
  -webkit-transition-delay: 0.2s, 0s;
          transition-delay: 0.2s, 0s;
  display: block; }

.sw-footer {
  position: relative;
  width: 34px;
  height: 3px;
  top: 16.5px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  display: block; }

.sandwich.active .sw-topper {
  top: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }
.sandwich.active .sw-bottom {
  top: 6px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.top_menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 50;
  right: 0;
  top: 0;
  display: none; }
  .top_menu ul,
  .top_menu li {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .top_menu ul {
    margin-top: 120px;
    text-align: center; }
    .top_menu ul a {
      color: #fff;
      display: block;
      padding: 20px 0;
      text-transform: uppercase;
      font-style: 12px; }

.top_wrapper {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; }
  .top_wrapper .top_descr {
    display: table-row; }
    .top_wrapper .top_descr .top_centered {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
  .top_wrapper .top_text {
    display: inline-block; }
    .top_wrapper .top_text p {
      margin: 0;
      text-transform: uppercase; }
    .top_wrapper .top_text h1 {
      display: inline-block;
      padding: 10px 35px;
      color: #fff;
      border-bottom: 8px solid #fff;
      border-top: 8px solid #fff;
      text-transform: uppercase;
      font-size: 3em;
      font-weight: bold;
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 1000px;
              box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 1000px; }
